# covers node context, which is built from root
# nginx context is built from .ci directory
node_modules
# TODO: we want to ignore .git in CI/CD, but not in development
.git
build
dist
.cache

# ignore .ci directory - production context
.ci/