#pages-detail {
  .card {
    border-radius: 10px;
  }

  .card .card-content {
    padding: 10px;

    h5 {
      padding-top: 0;
      margin-top: 0;
    }
  }

  .card .card-image {
    padding: 5px;
    video {
      border-radius: 10px;
    }
  }

  .collection {
    border-radius: 10px;

    &:not(.browser-default) > li {
      padding: 10px;
      border-bottom: 1px solid #dddddd;

      &:last-child {
        border: 0;
      }
    }
  }
}
