#pages-results-datasets {
  .card .card-content {
    padding: 10px;

    h5 {
      padding-top: 0;
      margin-top: 0;
    }
  }

  .card.horizontal .card-image {
    padding: 5px;
    img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 100px;
    }
  }

  .collection {
    border-radius: 10px;
  }

  ul:not(.browser-default) {
    li {
      padding: 10px;
      border-bottom: 1px solid #dddddd;

      &:last-child {
        border: 0;
      }
    }
  }
}
