#components-header {
  height: 90px;
  padding-top: 10px;
  margin-bottom: 15px;

  form {
    position: relative;
    width: 95%;
    left: -30px;

    .main-search-input {
      border: 1px solid #ccc;
      border-radius: 24px;
      padding: 0 15px;

      &:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
      }
    }

    button {
      position: absolute;
      top: 12px;
      font-size: 1.5em;
      background: none;
      border: none;
      right: -29px;
      cursor: pointer;

      i {
        line-height: 40px;
      }
    }
  }

  .brand-logo img {
    width: 100px;
  }
}
