#pages-home {
  margin-top: 64px;

  .card__main-search {
    margin: 0 auto;
  }

  form {
    position: relative;
    width: 95%;

    .main-search-input {
      border: 1px solid #ccc;
      border-radius: 24px;
      padding: 0 15px;

      &:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
      }
    }

    button {
      position: absolute;
      top: 3px;
      font-size: 1.5em;
      background: none;
      border: none;
      right: -29px;
      cursor: pointer;
    }
  }
  .logo img {
    width: 150px;
  }

  .collection {
    border-radius: 10px;
  }
  ul:not(.browser-default) > li {
    padding: 10px;
    border-bottom: 1px solid #dddddd;

    &:last-child {
      border: 0;
    }
  }
}
