html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

/**
 * Make element after <main> appear at bottom of page if not enough content to force it to.
 *
 * NOTE: This assumes that immediate child elements of root will always include <main> (think React Routing). This is best practice anyways.
 */
main {
  flex: 1 0 auto;
}

video {
  width: 100%;
}

a {
  text-decoration: none;
}

/**
 * Useful class to use if you don't mind allowing the user to edit the CSS
 */
.display-none {
  display: none !important;
}
