html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

video {
  width: 100%;
}

/*
make sure browsers use the pointer cursor for anchors, even with no href
*/
a:hover {
  cursor: pointer;
}

/**
Useful class to use if you don't mind allowing the user to edit the CSS
*/
.display-none {
  display: none !important;
}
